.skip-link a{
  position: absolute;
  left: 0;
  top: -60px;
  /* width: 1px;
  height: 1px; */
  /* overflow: hidden; */
  transition: top 1s ease-out;
  z-index: 1000;
  /* background: white; */
  padding: 6px;
}

.skip-link a:focus {
  /* position: static;
  width: auto;
  height: auto; */
  top: 0;
}
.active{
  border: 3px #ffffff dotted;
  color: #631c29;

}

nav {
  background-color: #D95B72;
  height: 80px;
    position: fixed;
    top: 0;
    width: 100%;

    z-index: 100;
  
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

nav li {
  padding: 0;
}

nav a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
  background-color: #7ED9D0;
  transform: scale(2.1);
}


img.dissolve {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(40%);
}
body {
  background-color: #F2C2C2;
}

/* CHANGE */
h1 {
  position: relative;
  top: 0%;
  left: 0;
  width: 100%;
  padding: 0 20px;
  margin-top: -40px; /* Half the height of the heading */
  font-family: "Gill Sans", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: #F2C2C2;
  z-index: 2;

  text-align: center;
}

/* Position the image */


header h1 {
  background-color: #026873;
  width: 50%;
  color: #F2C2C2;
  padding: 30px;
  border-radius: 30px;
  position: absolute;
  top: 20%;
  left: 25%;
  transform: translateY(-50%);
  margin: 0 auto;
  font-family: "Gill Sans", sans-serif;
  font-size: 3rem;
  text-align: center;
}

.intro {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  /* styles here */
}

a[href="https://lsa.umich.edu/women"] {
  color: #F2C2C2;
}

div.intro{
  background-color: #026873;
  border-radius: 30px;
  padding: 30px;
  margin: 20px auto;
  max-width: 80%;
  text-align: left;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

a[href="#h2"] i.fa.fa-arrow-circle-down {
  font-size: 3.5rem;
  color: #F2C2C2;
  display: block;
  margin: auto;
  position: absolute;
  left: 48%;
  right: 0;
  bottom: 50px;
}


h2 {
  font-size: 2em;
  color: #F2C2C2;
  font-weight: bold;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  position: relative;
  
}

h2::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: 2px;
  background-color: #F2C2C2;
  border-radius: 20px;
}


div.contents{
  background-color: #026873;
  border-radius: 30px;
  padding: 30px;
  margin: 20px auto;
  max-width: 50%;
  text-align: left;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;

}

div.disclaim {
  background-color: #631c29;

  padding: 20px;
  text-align: center;
}

footer {
  background-color: #026873;
  color: rgb(0, 0, 0);
  padding: 10px;
  text-align: center;
}

/* Define the grid */
main.bye {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  position: relative;
  margin-top: 150px; /* change the value as needed */
  padding: 10px;

}

/* Style the grid items */
main > div {
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 50px;
  margin-top: 20%;
  background-color: #026873;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Style the headings */
main > div > h1 {
  margin-top: 0;
  margin-bottom: 5%;
}

/* Style the images */
main > div > img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Style the content paragraphs */
main > div > p {
  margin-top: 0;
  margin-bottom: 10px;
}

/* Style the subheadings */
main > div > h3 {
  margin-top: 0;
}

img {
  border: 10px solid #D95B72;
  border-radius: 10px;
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  
  @keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
  }

/* CSS code for the image pop-out effect */
.lit:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-out;
  color: #D95B72;
}


h3 {
  font-size: 1em;
  color: #000000;
  font-weight: bold;
  margin-top: 4em;
  margin-bottom: 1em;
  position: relative;
  
}

.box-list {
  border: 3px solid #D95B72;
  border-radius: 20px;
  padding: 10px;
  margin-top: 10%;
  background-color: #7ED9D0;
}

.box-list h3 {
  margin-top: 0;
}

.box-list ul {
  
  margin: 10px 0;
  padding-left: 20px;
}

.box-list li {
  margin-bottom: 5px;
}


/* CHANGE */
p{
  color: #ffffff;
}

.fa-eye {
  font-size: 20px;
  color: #D95B72;
  animation: blink 1s infinite;
  padding-right: 5%;
}

@keyframes blink {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.1);
  }
  100% {
    transform: scaleY(1);
  }
}

main.hi {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-top: 10%;
  padding: 20px;
}

main.hi > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 
}

main.hi h1 {
  margin-top: 20px;
  text-align: center;
}

main.hi img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

main.hi p {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  padding: 20px;
}

main.hi div {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 20px;
}

/* style for image on hover */
main.hi div img:hover {

  border-radius: 10px;
}

/* Style for the A-Z anchors */
.alphabet a {
  display: inline-block;
  margin-right: 10px;
}

/* Style for the selected A-Z anchor */
.alphabet a.active {
  font-weight: bold;
}

/* Position the A-Z alphabet below the nav bar */
.alphabet {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10%;
}

/* Style for the div elements */
div.alphabet {
  margin-top: 0%;
}

/* Style for the definition terms */
dt {
  font-weight: bold;
  margin-top: 40px;
  font-family: "Gill Sans", sans-serif;
  color: #F2C2C2;
  font-size: 30px;
  text-align: center;

}

/* Style for the definition descriptions */
dd {
  margin-left: 30px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
  line-height: 1.5;
}

/* Style for the interpretation paragraphs */
p {
  margin: 5px 0;
}

/* Set style for alphabet navigation bar */
.alphabet {
  display: flex;
  border-radius: 30px;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background-color: #D95B72;
  color: #fff;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Set style for alphabet navigation bar links */
.alphabet a {
  text-decoration: wavy;
  font-size: 30px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0 5px;
}

/* Set hover style for alphabet navigation bar links */
.alphabet a:hover {
  color: #026873;
  text-decoration: underline;
}

main.word{
  margin-top: 20%;
}
.word {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}


dl {
  background-color: #026873;
  color: #fff;
  padding: 20px;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  border-radius: 30px;
}


.word div {
  border-bottom: 8px dotted #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

div:first-child,
div:last-child {
  border-bottom: none;
}

.ham {
  display: none;
}

h2.subhead {
  font-size: 2rem; /* Start small */
  animation: myAnimation 2.5s ease-in-out; /* Animate for 1 second */
  margin-top: 30%;
  color: #026873;
  
}

@keyframes myAnimation {
  0% { font-size: 1rem; } /* Start small */
  50% { font-size: 2rem; } /* Get bigger */
  100% { font-size: 1rem; } /* Go back to small */
}






/* MOBILE VIEW */
@media screen and (max-width: 767px) {
  /* Hide navigation list */

  body{
    background-image: url(../images/women_march_pano.jpg);
    background-color: #F2C2C2;
  }
  nav ul {
    display: none;
  }

  /* Show hamburger icon */
  .ham {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
  }

  /* Style hamburger icon */
  .ham i {
    color: #000000;
    font-size: 24px;
    line-height: 1;
  }

  /* Show navigation list when hamburger icon is clicked */
  nav ul.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1;
  }

  /* Style links in navigation list */
  nav ul.show li {
    margin: 20px;
  }


div.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #026873;
  border-radius: 30px;
  padding: 20px;
  margin: 40px auto;
  max-width: 90%;
  text-align: left;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 10px;
  font-weight: bold;
}


header h1 {

  background-color: #026873;
  width: 50%;
  color: #F2C2C2;
  padding: 10px;
  border-radius: 30px;
  position: absolute;
  top: 20%;
  left: 25%;
  transform: translateY(-50%);
  margin: 0 auto;
  font-family: "Gill Sans", sans-serif;
  font-size: 2.0rem;
  text-align: center;
}


a[href="#h2"] i.fas.fa-arrow-circle-down {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: #F2C2C2;
  margin: auto;
  position: absolute;
}

h2 {
  font-size: 1em;
  color: #F2C2C2;
  font-weight: bold;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1em;
  position: relative;
  
}



div.contents{
  background-color: #026873;
  border-radius: 30px;
  padding: 30px;
  margin: 20px auto;
  max-width: 50%;
  text-align: left;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: #ffffff;

}

div.disclaim {
  background-color: #631c29;
  padding: 20px;
  text-align: center;
  font-size: 10px;
}



main.bye {
  display: flex;
  flex-direction: column;
  margin-top: 150px; /* change the value as needed */
  padding: 10px;

}

main > div:hover {
  background-color: #631c29;
}

main.hi {
  display: flex;
  flex-direction: column;
  margin-top: 150px; /* change the value as needed */
  padding: 10px;

}

main.word{
  margin-top: 50%;
}

h2.subhead {
  font-size: 1rem; /* Start small */
  animation: myAnimation 2.5s ease-in-out; /* Animate for 1 second */
  margin-top: 70%;
  color: #026873;
  padding: 60px;
}

@keyframes myAnimation {
  0% { font-size: 1rem; } /* Start small */
  50% { font-size: 2rem; } /* Get bigger */
  100% { font-size: 1rem; } /* Go back to small */
}


}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    main.bye {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
      margin-top: 70%; /* change the value as needed */
      padding: 20px;
    
    }
    main > div:hover {
      background-color: #631c29;
    }

    main.hi {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;
      margin-top: 70%;
      padding: 20px;
    }


    
  
h2.subhead {
  font-size: 1rem; /* Start small */
  animation: myAnimation 2.5s ease-in-out; /* Animate for 1 second */
  margin-top: 50%;
  color: #026873;
  padding: 60px;
}

@keyframes myAnimation {
  0% { font-size: 1rem; } /* Start small */
  50% { font-size: 2rem; } /* Get bigger */
  100% { font-size: 1rem; } /* Go back to small */
}
}
